{% load static %}
<header class="an-header wow fadeInDown">
        <div class="an-topbar-left-part">
            <h3 class="an-logo-heading">
                <a class="an-logo-link" href="../index/">股票筛选系统
                    <span>股票筛选系统</span>
                </a>
            </h3>
            <button class="an-btn an-btn-icon toggle-button js-toggle-sidebar">
                <i class="icon-list"></i>
            </button>
            <form class="an-form" action="#">
                <div class="an-search-field topbar">
                    <!--<input class="an-form-control" type="text" placeholder="Search...">
                    <button class="an-btn an-btn-icon" type="submit">
                        <i class="icon-search"></i>-->
                    </button>
                </div>
            </form>
        </div> <!-- end .AN-TOPBAR-LEFT-PART -->

        <div class="an-topbar-right-part">

            <div class="an-profile-settings">
                <div class="btn-group an-notifications-dropown  profile">
                    <button type="button" class="an-btn an-btn-icon dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="an-profile-img"></span>
                        <span class="an-user-name">{{username}}</span>
                        <span class="an-arrow-nav"><i class="icon-arrow-down"></i></span>
                    </button>
                    <div class="dropdown-menu">
                        <p class="an-info-count">设置</p>
                        <ul class="an-profile-list">
                            <li><a href="../user_profile?modify_id={{ user_id }}"><i class="icon-user"></i>账户信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="../login/"><i class="icon-download-left"></i>退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- end .AN-PROFILE-SETTINGS -->
        </div> <!-- end .AN-TOPBAR-RIGHT-PART -->
    </header> <!-- end .AN-HEADER -->